<tr>
<td class="event">
<span class ="name"><%= eventswithname.name%></span>
<span class ="content"><%=eventswithname.content%></span>
<span class ="timestamp">Posted<%=  time_ago_in_words(eventswithname.created_at)%>ago.</span>
</td>
</tr>